.navbar {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    background-color: rgb(255, 162, 109);
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 2px 3px 9px 1px rgba(79,79,79,0.63);
    box-shadow: 2px 3px 9px 1px rgba(79,79,79,0.63);
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.navbarButton {
    display: flex;
    gap:5px
}

.navbar .bottonLogin {
    background-color: rgb(253, 241, 241);
    border-radius: 10px;
    height: 40px;
    width: 80px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 3px 9px 1px rgba(79,79,79,0.63);
    -webkit-box-shadow: 2px 3px 9px 1px rgba(79,79,79,0.63);
}

.bottonLogin:hover {
    background-color:white;
}

.navbar .bottonRegister {
    background-color: rgb(253, 241, 241);
    border-radius: 10px;
    height: 40px;
    width: 80px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 3px 9px 1px rgba(79,79,79,0.63);
    -webkit-box-shadow: 2px 3px 9px 1px rgba(79,79,79,0.63);
}

.bottonRegister:hover {
    background-color: white;
}

.navbar .bottonLogout {
    background-color: rgb(253, 241, 241);
    border-radius: 10px;
    height: 40px;
    width: 80px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 3px 9px 1px rgba(79,79,79,0.63);
    -webkit-box-shadow: 2px 3px 9px 1px rgba(79,79,79,0.63);
}

.bottonLogout:hover {
    background-color: white;
}

.navbar .bottonPost {
    background-color: rgb(253, 241, 241);
    border-radius: 10px;
    height: 40px;
    width: 80px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 3px 9px 1px rgba(79,79,79,0.63);
    -webkit-box-shadow: 2px 3px 9px 1px rgba(79,79,79,0.63);
}

.bottonPost:hover {
    background-color: white;
}

.navbarLogo {
    font-size: 57px;
    font-family: 'Rampart One', cursive;
}

.navbarLogo .spanLogo {
    font-weight: 500;
    font: bold;
    font-size: 70px;
    font-family: 'Rampart One', cursive;
}

.logo {
    margin-bottom: 10px;
}